<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shit osu! players</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/members.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <%- include('../partials/header') %>

    <div id="bgGrad"></div>
    
    <main>
        <div class="member-list-container">
    
            <div class="member-list-header">
                <div class="divLine"></div>
                <p>Owner</p>
            </div>
            <div class="members">
                <% members.filter(member => member.role === "Owner").sort((a, b) => a.osuData.username.localeCompare(b.osuData.username)).forEach(member => { %>
                    <div class="member-info">
                        <a href="https://osu.ppy.sh/users/<%= member.osuData.id %>" class="profileLink"></a>
                        <img src="<%= member.osuData.avatar_url %>" class="pfp" alt="<%= member.osuData.username %> Profile Picture">
                        <div class="user-info">
                            <div class="icon-container">
                                <img src="/assets/images/flags/<%= member.osuData.country_code %>.png" class="flag" alt="<%= member.osuData.country_code %> flag">
                                <img src="/assets/images/icons/osu/osu-standard-white.png" class="gamemode-icon" alt="osu! standard icon">
                            </div>
                            <div class="name-rank">
                                <h1><%= member.osuData.username %></h1>
                                <p>#<%= member.osuData.global_rank.toLocaleString() %></p>
                            </div>
                        </div>
                        <div class="discord">
                            <img src="/assets/images/icons/socials/discord-mark-white.svg" class="discord-icon" alt="Discord Icon">
                            <p><%= member.discord_username %></p>
                        </div>
                        <div class="status-owner"><%= member.role %></div>
                        <div class="outline-owner"></div>
                        <div class="shadow"></div>
                    </div>
                <% }) %>
            </div>
    
            <div class="member-list-header">
                <div class="divLine"></div>
                <p>Moderators</p>
            </div>
            <div class="members">
                <% members.filter(member => member.role === "Moderator").sort((a, b) => a.osuData.username.localeCompare(b.osuData.username)).forEach(member => { %>
                    <div class="member-info">
                        <a href="https://osu.ppy.sh/users/<%= member.osuData.id %>" class="profileLink"></a>
                        <img src="<%= member.osuData.avatar_url %>" class="pfp" alt="<%= member.osuData.username %> Profile Picture">
                        <div class="user-info">
                            <div class="icon-container">
                                <img src="/assets/images/flags/<%= member.osuData.country_code %>.png" class="flag" alt="<%= member.osuData.country_code %> flag">
                                <img src="/assets/images/icons/osu/osu-standard-white.png" class="gamemode-icon" alt="osu! standard icon">
                            </div>
                            <div class="name-rank">
                                <h1><%= member.osuData.username %></h1>
                                <p>#<%= member.osuData.global_rank.toLocaleString() %></p>
                            </div>
                        </div>
                        <div class="discord">
                            <img src="/assets/images/icons/socials/discord-mark-white.svg" class="discord-icon" alt="Discord Icon">
                            <p><%= member.discord_username %></p>
                        </div>
                        <div class="status-moderator"><%= member.role %></div>
                        <div class="outline-moderator"></div>
                        <div class="shadow"></div>
                    </div>
                <% }) %>
            </div>
    
            <div class="member-list-header">
                <div class="divLine"></div>
                <p>Content Managers</p>
            </div>
            <div class="members">
                <% members.filter(member => member.role === "Content Manager").sort((a, b) => a.osuData.username.localeCompare(b.osuData.username)).forEach(member => { %>
                    <div class="member-info">
                        <a href="https://osu.ppy.sh/users/<%= member.osuData.id %>" class="profileLink"></a>
                        <img src="<%= member.osuData.avatar_url %>" class="pfp" alt="<%= member.osuData.username %> Profile Picture">
                        <div class="user-info">
                            <div class="icon-container">
                                <img src="/assets/images/flags/<%= member.osuData.country_code %>.png" class="flag" alt="<%= member.osuData.country_code %> flag">
                                <img src="/assets/images/icons/osu/osu-standard-white.png" class="gamemode-icon" alt="osu! standard icon">
                            </div>
                            <div class="name-rank">
                                <h1><%= member.osuData.username %></h1>
                                <p>#<%= member.osuData.global_rank.toLocaleString() %></p>
                            </div>
                        </div>
                        <div class="discord">
                            <img src="/assets/images/icons/socials/discord-mark-white.svg" class="discord-icon" alt="Discord Icon">
                            <p><%= member.discord_username %></p>
                        </div>
                        <div class="status-content-manager"><%= member.role %></div>
                        <div class="outline-content-manager"></div>
                        <div class="shadow"></div>
                    </div>
                <% }) %>
            </div>
    
            <div class="member-list-header">
                <div class="divLine"></div>
                <p>Members</p>
            </div>
    
            <% 
                // Group members by the first letter of their username
                const groupedMembers = {};
                const specialMembers = []; // Array for members starting with special characters
    
                members.filter(member => member.role === "Member").forEach(member => {
                    const firstChar = member.osuData.username.charAt(0);
                    if (/^[A-Za-z]$/.test(firstChar)) {
                        if (!groupedMembers[firstChar.toUpperCase()]) {
                            groupedMembers[firstChar.toUpperCase()] = [];
                        }
                        groupedMembers[firstChar.toUpperCase()].push(member);
                    } else {
                        specialMembers.push(member);
                    }
                });
            %>
    
            <!-- Section for special characters -->
            <% if (specialMembers.length > 0) { %>
                <div class="member-list-letter">
                    <p>#</p>
                </div>
                <div class="members">
                    <% specialMembers.sort((a, b) => a.osuData.username.localeCompare(b.osuData.username)).forEach(member => { %>
                        <div class="member-info">
                            <a href="https://osu.ppy.sh/users/<%= member.osuData.id %>" class="profileLink"></a>
                            <img src="<%= member.osuData.avatar_url %>" class="pfp" alt="<%= member.osuData.username %> Profile Picture">
                            <div class="user-info">
                                <div class="icon-container">
                                    <img src="/assets/images/flags/<%= member.osuData.country_code %>.png" class="flag" alt="<%= member.osuData.country_code %> flag">
                                    <img src="/assets/images/icons/osu/osu-standard-white.png" class="gamemode-icon" alt="osu! standard icon">
                                </div>
                                <div class="name-rank">
                                    <h1><%= member.osuData.username %></h1>
                                    <p>#<%= member.osuData.global_rank.toLocaleString() %></p>
                                </div>
                            </div>
                            <div class="discord">
                                <img src="/assets/images/icons/socials/discord-mark-white.svg" class="discord-icon" alt="Discord Icon">
                                <p><%= member.discord_username %></p>
                            </div>
                            <div class="status-member"><%= member.role %></div>
                            <div class="outline-member"></div>
                            <div class="shadow"></div>
                        </div>
                    <% }) %>
                </div>
            <% } %>
    
            <% Object.keys(groupedMembers).sort().forEach(char => { %>
                <div class="member-list-letter">
                    <p><%= char %></p>
                </div>
                <div class="members">
                    <% groupedMembers[char].sort((a, b) => a.osuData.username.localeCompare(b.osuData.username)).forEach(member => { %>
                        <div class="member-info">
                            <a href="https://osu.ppy.sh/users/<%= member.osuData.id %>" class="profileLink"></a>
                            <img src="<%= member.osuData.avatar_url %>" class="pfp" alt="<%= member.osuData.username %> Profile Picture">
                            <div class="user-info">
                                <div class="icon-container">
                                    <img src="/assets/images/flags/<%= member.osuData.country_code %>.png" class="flag" alt="<%= member.osuData.country_code %> flag">
                                    <img src="/assets/images/icons/osu/osu-standard-white.png" class="gamemode-icon" alt="osu! standard icon">
                                </div>
                                <div class="name-rank">
                                    <h1><%= member.osuData.username %></h1>
                                    <p>#<%= member.osuData.global_rank.toLocaleString() %></p>
                                </div>
                            </div>
                            <div class="discord">
                                <img src="/assets/images/icons/socials/discord-mark-white.svg" class="discord-icon" alt="Discord Icon">
                                <p><%= member.discord_username %></p>
                            </div>
                            <div class="status-member"><%= member.role %></div>
                            <div class="outline-member"></div>
                            <div class="shadow"></div>
                        </div>
                    <% }) %>
                </div>
            <% }) %>
    
        </div>
    </main>
    
    <%- include('../partials/footer') %>
    
    
    <script src="/js/members.js"></script>
    <script src="/js/script.js"></script>
    
</body>

</html>
